
body {
    background-image: url(imagens/bg\ pattern.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
}
header {
    background: url(imagens/header.jpg);
    background-position: center center;
    background-size: cover;

    border: solid 2px rgb(0, 143, 31);
    border-radius: 5px;
    margin-bottom: 10px;
}
.cabeçalho img {
    height: 90px;
    margin: 10px 45% 0;
}
.cabeçalho h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(0, 215, 0);
    margin: 9px auto 5px;
}

.menu {
    border: solid 2px #0a0;
    background-color: black;
}

.item-menu {
    display: inline-block;
    margin: 0 10% 0 10%;
    font-size: 25px;
    font-weight: bold;
}

.item-menu a {
    text-decoration: none;
    color: rgb(6, 175, 0);
}

.item-menu a:hover{
    font-size: 28px;
    color: rgb(0, 255, 0);
    border: solid 1px green;
}

div {
    border: double 5px black;
    background-color: #666;
    color: rgba(250, 235, 215, 0);
    text-align: center;
    width: 98%;
}

ul{
    list-style: none;
}

.texto {
    background-color: rgba(240, 255, 255, 0);
    color: black;
}

footer {
    background-color: black;
    border-top: solid 5px green;
    padding: 30px 0;
    margin-top: 200px;
}

footer img {
    height: 50px;
    margin-left: 48%;
}

footer p {
    color: rgb(0, 219, 0);
    font-size: 12px;
    text-align: center;
}

.rodapé {
    font-size: 25px;
}

.image {
    float: left;
    height: 250px;
}

.text {
    margin-top: 100px;
    margin-left: 45%;
    color: rgba(255, 255, 255, 0);
     
}